---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
import Header from "@/components/blocks/Header";
import { supabaseServerClient } from "@/lib/supabase";

// Create server client
const supabaseBE = supabaseServerClient({
	request: Astro.request,
	cookies: Astro.cookies,
});

const {
	data: { user },
} = await supabaseBE.auth.getUser();

const activeUser =
	// user;
	{
		name: "faker",
		email: "faker@gmailcom",
		id: "xfeurthjnv",
	};
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="WCAG Accessibility Assistant - Get expert help with web accessibility guidelines"
		/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>WCAG Chat</title>
		<ClientRouter />
	</head>
	<body>
		<Header user={activeUser} client:load />
		<slot />
	</body>
</html>
