---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
import Header from "@/components/blocks/header";
import { supabaseServerClient } from "@/lib/supabase";
import { Toaster } from "@/components/ui/sonner";
import { ThemeProvider } from "@/components/ThemeProvider";

const { hideHeader = false } = Astro.props;

const supabaseBE = supabaseServerClient({
	request: Astro.request,
	cookies: Astro.cookies,
});

const {
	data: { user },
} = await supabaseBE.auth.getUser();

const activeUser = user;
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="WCAG Accessibility Assistant - Get expert help with web accessibility guidelines"
		/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>WCAG Chat</title>
		<ClientRouter />
	</head>

	<body>
		<ThemeProvider client:load>
			<Toaster richColors position="top-center" client:only="react" />
			{!hideHeader && <Header user={activeUser} client:load />}

			<slot />
		</ThemeProvider>
	</body>
</html>
