---
import WCAGChatPage from "@/components/chat-ui/WCAGChatPage";
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout>
	<h2>Hello, chat sub page here!!</h2>
	<WCAGChatPage client:load />
</MainLayout>
