---
import ChatUI from "@/components/chat-ui/chatUI";
import WCAGInitPage from "@/components/chat-ui/WCAGInitPage";
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout>
	<div class="flex items-center justify-center min-h-screen">
		<ChatUI client:load />
	</div>
</MainLayout>
