---
import WCAGChatPage from "@/components/chat-ui/WCAGChatPage";
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout>
	<div class="flex items-center justify-center min-h-screen">
		<WCAGChatPage client:load />
	</div>
</MainLayout>
